<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="/CSS/site.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/JavaScript/site.js" type="text/javascript"></script>
 @RenderSection("Styles", required: false);
</head>
<body>
   
    <header>
        <h1>Best Seeds Ltd.</h1>
    </header>
<p>@ViewBag.Title</p>
    <nav>
        <ul>
            <li><a href="/Home/Home">Home</a></li>
            <li class="label" id="pot">Potatoes</li>
            <li class="p"><a href="/Potato/BlightResistant">Blight Resistant</a></li>
            <li class="p"><a href="/Potato/MainCrop">Main Crop</a></li>
            <li class="label" id="seed">Seeds</li>
            <li class="s"><a href="/Seeds/FlowerSeeds">Flower Seeds</a></li>
            <li class="s">@Html.ActionLink("Vegetable Seeds", "VegetableSeeds", "Seeds")</li>
        </ul>
    </nav>

    <section>
     <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    </section>

</body>
</html>
